<div class="container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Roll Number</th>
                <th>Branch</th>
                <th>GPA</th>
                <th>Pass/Fail</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let i of data">
                <td>{{i.name}}</td>
                <td>{{i.age}}</td>
                <td>{{i.roll}}</td>
                <td>{{i.roll|branch}}</td>
                <td>{{i.gpa}}</td>
                <td>{{i.gpa|pass}}</td>
            </tr>
        </tbody>
    </table>
</div>